
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>

<div class="container" style="margin:10%">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 alert alert-info">
            <h3 class="text-center">Login</h3>
            <form id="loginForm">
                <div id="lmsg1" class="text-center"><ul style="color:red">Invalid Username or Password</ul></div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="Username" id="Username" placeholder="Username" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" />
                    </div>
                </div>

            </form>

            <div class="form-group">
                <button class="btn btn-info form-control" type="submit" onclick="Login()"><i class="glyphicon glyphicon-log-in"></i> Login</button>
            </div>
            <div class="form-group">
                <a style="float:left">Forget Password ?</a><a style="float:right; cursor:pointer" onclick="SignUp()"> Sign Up</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <h4>Registration Form</h4>
                <div id="msg1">
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok"></span><strong> Success...! </strong>
                    </div>
                </div>
                <div id="msg2">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span><strong> Unuccess...! </strong>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="Registration">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="fn2" id="fn2" placeholder="First Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="ln2" id="ln2" placeholder="Last Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                            <input type="text" class="form-control" name="str2" id="str2" placeholder="Street" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                            <input type="text" class="form-control" name="city1" id="city1" placeholder="City" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                            <input type="text" class="form-control" name="con1" id="con1" placeholder="Contact No.1" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                            <input type="text" class="form-control" name="con2" id="con2" placeholder="Contact No.2" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" name="email2" id="email2" placeholder="Email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-print"></i></span>
                            <input type="text" class="form-control" name="fax2" id="fax2" placeholder="Fax" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
                            <input type="text" class="form-control" name="un2" id="un2" placeholder="Username" onchange="UserCheck()"/>

                        </div>
                        <p id="Status" class="text-center">Available</p>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" name="pwd2" id="pwd2" placeholder="Password" />
                        </div>
                    </div>

                </form>
                <div class="form-group">
                    <button class="btn btn-info form-control" type="submit" onclick="SaveForm()"><i class="glyphicon glyphicon-registration-mark"></i> Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var unst = "s0";

    function SignUp() {
        $("#ShowModal").modal();
        $("#msg1").hide();
        $("#msg2").hide();
        $("#Status").hide();
    }

    function SaveForm() {

        var fn1 = $("#fn2").val();
        var ln1 = $("#ln2").val();
        var un1 = $("#un2").val();
        var pwd1 = $("#pwd2").val();

        if (fn1 == "" || ln1 == "" || un1 == "" || pwd1 == "" || unst=="s0") {
            $("#msg1").hide();
            $("#msg2").show();
            return false;
        }

        var data = $("#Registration").serialize();
        $.ajax({
            type: "post",
            data: data,
            url: "/Register/SaveData",
            success: function (result) {
                if (result == "S") {
                    $("#Registration")[0].reset();
                    $("#msg1").show();
                    $("#msg2").hide();
                } else {
                    $("#Registration")[0].reset();
                    $("#msg1").hide();
                    $("#msg2").show();
                }
                
            }
        });
    }

    function UserCheck() {
        $("#Status").show();
        $("#Status").html("Checking...!");
        $.post("@Url.Action("CheckUsername", "Register")",
            {
                s: $("#un2").val()
            },
            function (data) {
                if (data == 0) {
                    unst = "s1";
                    $("#Status").html("<font color='Green'>Username Available</font>");
                    //$("#un2").css("border-color","Green");
                } else {
                    unst = "s0";
                    $("#Status").html("<font color='Red'>Username Not Available</font>");
                    //$("#un2").css("border-color", "Red");
                }
            }
        );
    }

    $("#lmsg1").hide();

    function Login() {

        var data2 = $("#loginForm").serialize();

        $.ajax({
            type: "post",
            data: data2,
            url: "/Register/Login1",
            success: function (result) {
                if (result == "S") {
                    window.location.href = "/Home/Index";
                } else {
                    $("#loginForm")[0].reset();
                    $("#lmsg1").show();
                }

            }
        });
    }


</script>


